---
- name: Tomcat configuration file transfer
  template:
    src: '{{ item }}'
    dest: '{{ tomcat_path }}/tomcat/conf/'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    mode: 0600
  loop: '{{ tomcat_conf }}'
  register: config_upgrade

- name: Tomcat server certificate file transfer
  copy:
    src: '{{ item }}'
    dest: '{{ tomcat_path }}/tomcat/conf/'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    mode: 0600
  loop: '{{ server_certificate }}'
  tags:
    - 'server_certificate_file'
  register: pki_upgrade

- name: Tomcat systemd service file transfer
  template:
    src: 'tomcat.service'
    dest: '/etc/systemd/system'
    owner: 'root'
    group: 'root'
    mode: 0644
  when:
    - ansible_distribution_major_version|int > 6
    - ansible_os_family == 'RedHat'

- name: Tomcat service scripts symlink
  file:
    src: '{{ tomcat_path }}/tomcat/bin/tomcat.init'
    path: /etc/init.d/tomcat
    state: link
  when:
    - ansible_distribution_major_version|int < 7
    - ansible_os_family == 'RedHat'

- name: Test page transfer
  copy:
    src: 'index.html'
    dest: '{{ tomcat_path }}/tomcat/webapps/ROOT/'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    mode: 0644
