---
- name: Add the group tomcat
  group:
    name: "{{ tomcat_arg.user }}"
    gid: '{{ tomcat_arg.uid }}'

- name: Add the user tomcat
  user:
    name: '{{ tomcat_arg.user }}'
    comment: '{{ tomcat_arg.user }}'
    uid: '{{ tomcat_arg.uid }}'
    group: '{{ tomcat_arg.user }}'
    home: '{{ tomcat_path }}/tomcat'

- name: Configure BASH profile
  lineinfile:
    dest: '{{ tomcat_path }}/tomcat/.bash_profile'
    state: present
    line: '{{ item }}'
  loop: '{{ tomcat_environment }}'

- name: Install Apache Tomcat {{ tomcat_version }} Core
  unarchive:
    src: '{{ tomcat_soft_url }}{{ tomcat_version[0:1] }}/v{{ tomcat_version }}/bin/apache-tomcat-{{ tomcat_version }}.tar.gz'
    dest: '{{ tomcat_path }}/tomcat'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    exclude: '{{ tomcat_exclusions }}'
    extra_opts: [--strip-components=1]
    remote_src: 'yes'
    validate_certs: 'no'
  register: tomcat_update
  until: tomcat_update is succeeded
  retries: 3
  delay: 5

- name: Install Apache Tomcat {{ tomcat_version }} Extras
  get_url:
    url: '{{ tomcat_soft_url }}{{ tomcat_version[0:1] }}/v{{ tomcat_version }}/bin/extras/{{ item.src }}'
    dest: '{{ item.dest }}'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    validate_certs: 'no'
    timeout: '60'
  loop:
    - { src: 'catalina-jmx-remote.jar',  dest: '{{ tomcat_path }}/tomcat/lib/' }
    - { src: 'tomcat-juli-adapters.jar', dest: '{{ tomcat_path }}/tomcat/lib/', create: "{{ tomcat_version[0:3] == '8.0' }}" }
    - { src: 'tomcat-juli.jar',          dest: '{{ tomcat_path }}/tomcat/bin/', create: "{{ tomcat_version[0:3] == '8.0' }}" }
  when: item.create | default(true) | bool
  register: tomcat_upgrade
  until: tomcat_upgrade is succeeded
  retries: 3
  delay: 5

- name: Install support binary package
  copy:
    src: '{{ item }}'
    dest: '{{ tomcat_path }}/tomcat/bin/'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    mode: 0750
  loop: '{{ support_binary }}'

- name: Install support JAR package
  copy:
    src: '{{ item }}'
    dest: '{{ tomcat_path }}/tomcat/lib/'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    mode: 0644
  loop: '{{ support_jars }}'
