---
- name: Add the group tomcat
  group:
    name: "{{ tomcat_arg.user }}"
    gid: '{{ tomcat_arg.uid }}'

- name: Add the user tomcat
  user:
    name: '{{ tomcat_arg.user }}'
    comment: '{{ tomcat_arg.user }}'
    uid: '{{ tomcat_arg.uid }}'
    group: '{{ tomcat_arg.user }}'
    home: '{{ tomcat_arg.path }}'

- name: Configure BASH profile
  lineinfile:
    dest: '{{ tomcat_arg.path }}/.bash_profile'
    state: present
    line: '{{ item }}'
  with_items:
    - '{{ tomcat_environment }}'

- name: Install Apache Tomcat {{ tomcat_version }} Core
  unarchive:
    src: '{{ tomcat_soft_url }}{{ tomcat_version[0:1] }}/v{{ tomcat_version }}/bin/apache-tomcat-{{ tomcat_version }}.tar.gz'
    dest: '{{ tomcat_arg._path }}'
    owner: '{{ tomcat_arg._user }}'
    group: '{{ tomcat_arg._user }}'
    exclude: '{{ tomcat_exclusions }}'
    extra_opts: [--strip-components=1]
    remote_src: yes
  register: tomcat_update

- name: Install Apache Tomcat {{ tomcat_version }} Extras
  get_url:
    url: '{{ tomcat_soft_url }}{{ tomcat_version[0:1] }}/v{{ tomcat_version }}/bin/extras/{{ item.src }}'
    dest: '{{ item.dest }}'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
  with_items:
    - { src: 'catalina-jmx-remote.jar',  dest: '{{ tomcat_arg.path }}/lib/' }
    - { src: 'tomcat-juli-adapters.jar', dest: '{{ tomcat_arg.path }}/lib/', create: "{{ tomcat_version[0:3] == '8.0' }}" }
    - { src: 'tomcat-juli.jar',          dest: '{{ tomcat_arg.path }}/bin/', create: "{{ tomcat_version[0:3] == '8.0' }}" }
  when: item.create | default(true) | bool
  register: tomcat_upgrade

- name: Install support binary package
  copy:
    src: '{{ item }}'
    dest: '{{ tomcat_arg.path }}/bin/'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    mode: 0750
  with_items:
    - '{{ support_binary }}'

- name: Install support JAR package
  copy:
    src: '{{ item }}'
    dest: '{{ tomcat_arg.path }}/lib/'
    owner: '{{ tomcat_arg.user }}'
    group: '{{ tomcat_arg.user }}'
    mode: 0644
  with_items:
    - '{{ support_jars }}'