---
- name: Check current tomcat version
  shell: "grep 'Apache Tomcat Version' {{ tomcat_arg.path }}/RELEASE-NOTES |awk '{print $4}'"
  register: tomcat_current_version
  changed_when: false
  failed_when: false

- name: Tomcat operation
  block:
    - name: Include OS-specific variables
      include_vars: '{{ ansible_os_family }}.yml'
    - name: Include tasks for specific OS
      include: '{{ ansible_os_family }}.yml'
    - include: 'firewall.yml'
    - include: 'install.yml'
    - include: 'configureation.yml'
    - include: 'harden.yml'
      when: tomcat_update|changed
    - name: Reload the tomcat service
      shell: echo ''
      notify: 'Ensure tomcat service is enabled'
      when: tomcat_update|changed or tomcat_upgrade|changed or config_upgrade|changed or pki_upgrade|changed
    - name: Force the handler to run immediately
      meta: flush_handlers
  when:
    - tomcat_current_version.rc == 2 or tomcat_version not in tomcat_current_version.stdout

- name: Register exporter service with an http health check
  uri:
    url: 'http://{{ item }}:{{ consul_http_port }}/v1/agent/service/register'
    method: 'PUT'
    headers:
      X-Consul-Token: "{{ consul_exporter_token }}"
    body: '{"ID":"{{ inventory_hostname | upper }}_jmx_exporter","name":"jmx_exporter","address":"{{ ansible_default_ipv4.address }}","port":{{ tomcat_port.jmx_port }},"meta":{"instance":"{{ inventory_hostname | upper }}","group":"{{ group_names[0] | upper }}","environment":"{{ environments | upper }}"},"checks":[{"http":"http://{{ ansible_default_ipv4.address }}:{{ tomcat_port.jmx_port }}/metrics","interval":"60s","tls_skip_verify":true,"method":"HEAD","timeout":"5s"}]}'
    body_format: 'json'
  environment:
    no_proxy: '{{ item }}'
  with_items: '{{ consul_clients }}'
  when: consul_is_register
  no_log: true
