---
- name: Check current tomcat version
  shell: "grep 'Apache Tomcat Version' {{ tomcat_path }}/tomcat/RELEASE-NOTES |awk '{print $4}'"
  register: tomcat_current_version
  changed_when: false
  failed_when: false

- name: Tomcat operation
  block:
    - name: Include OS-specific variables
      include_vars: '{{ ansible_os_family }}.yml'
    - name: Include tasks for specific OS
      include: '{{ ansible_os_family }}.yml'
    - name: Straight to getenforce selinux status
      include: 'selinux.yml'
    - include: 'firewall.yml'
    - include: 'install.yml'
    - include: 'configureation.yml'
    - include: 'harden.yml'
      when: tomcat_update is changed
    - name: Reload the tomcat service
      shell: echo ''
      notify: 'Ensure tomcat service is enabled'
      when: tomcat_update is changed or tomcat_upgrade is changed or config_upgrade is changed or pki_upgrade is changed
    - name: Force the handler to run immediately
      meta: flush_handlers
    - name: Registered with HashiCorp Consul
      include: 'register.yml'
      when: 
        - exporter_is_install
        - consul_public_register
  when:
    - tomcat_current_version.rc == 2 or tomcat_version not in tomcat_current_version.stdout
