[Unit]
Description=Tomcat Application Server
After=syslog.target

[Service]
Type=forking
ExecStart={{ tomcat_arg.path }}/bin/tomcat.init start sysd
ExecStop={{ tomcat_arg.path }}/bin/tomcat.init stop sysd
User={{ tomcat_arg.user }}
LimitNOFILE={{ tomcat_arg.ulimit_nofile }}
LimitNPROC={{ tomcat_arg.ulimit_nproc }}
LimitCORE=infinity
LimitMEMLOCK=infinity
KillMode=control-group
Environment=SYSTEMD_KILLMODE_WARNING=true

[Install]
WantedBy=multi-user.target
