[Unit]
Description=Tomcat Application Server
After=network.target

[Service]
Type=forking
ExecStart={{ tomcat_path }}/tomcat/bin/tomcat.init start sysd
ExecStop={{ tomcat_path }}/tomcat/bin/tomcat.init stop sysd
User={{ tomcat_arg.user }}
LimitNOFILE={{ tomcat_arg.ulimit_nofile }}
LimitNPROC={{ tomcat_arg.ulimit_nproc }}
LimitCORE=infinity
LimitMEMLOCK=infinity
KillMode=control-group
Environment=SYSTEMD_KILLMODE_WARNING=true
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
